<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<div id="header"></div>
<div class="left"></div>
<div class="stuff">
  <br><br>
  <h1>Resume</h1>
  <h2>Kaden</h2>
  <ul>
    <a href="http://35.85.148.45:5000/about">
    <p>About</p>
    </a>
  </ul>
  <hr />
  <br>
  <p class="head">Interests</p>
  <ul>
    <li>Skiing</li>
    <li>Snowboarding</li>
    <li>Networks</li>
    <li>Programming</li>
    <li>Computer Science</li>
  </ul>
  <p class="head">Skills</p>
  <ul>
    <li>Damn good skier</li>
  </ul>
  <p class="head">Education</p>
  <ul>
      <li>Davis High School</li>
  </ul>
  <p class="head">Experience</p>
  <ul>
    <li>Ski Shop Assistant Manager for Beaver Mountain</li>
    <li>I do all my family's network management</li>
  </ul>
  <p class="head">Extracurriculars</p>
  <ul>
    <li>Yearbook Editor</li>
  </ul>
</div>
<div class="right"></div>
<div id="footer">
</html>
